body {
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}



.line {
    width: 30px;
    height: 3px;
    background-color: #333;
    margin: 6px 0;
}

header{
    background-color: #fff;
    padding: 15px;
    box-shadow: 0 0 3px #000;

}

header ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header li {
    display: inline;
    margin-right: 20px;
}

header li a {
    color: #333;
    text-decoration: none;
    padding: 13px;
}

.centered-heading {
    text-align: center;
    margin-top: 200px; /* Adjust the margin as needed */
}

.centered-heading h1 {
    color: #333;
}

.background{
    
    height: 100vh;
    background-image: url('coldplay.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}